@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

 
.flexible-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    width: 1440px;
    height: 655px;
    background: #2D25A0;
}
     
  .half-width {
     
    padding: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .half-width img {
    width: 80%;
    transform: translate(0%,0%);
    animation:zoom-out 3s linear infinite;
    animation-play-state: running;

  }
  @media  only screen and (max-width:688px) {
      .flexible-container{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          width:250vw;
          height: 200vh;
      }
  }

  @keyframes  zoom-out{
      100%{
          width:100%;
      }
  }
  .text-part{
      margin-top:200px;
      margin-left:156px;
  }
  .head-line{
    font-size: 64px;
    line-height: 80px;
    margin-top:0px;
    margin-right: 50px;
    color: #FFFFFF;;
  }
  .link-button {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    color: #FFFFFF;
  }
  .link-button:hover{
      opacity: .5;
  }
  .players{
    width:82%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-row-gap: 30px;
    margin-left:170px;
    margin-top:85px;
    margin-bottom: 158px;
}
.player, .news {
   
    width: 300px;
    height: 426px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding:10px;
    
}
.tittle{
    display: inline;
}
.player img{
    height:256px;
    width:100%;
}
.text{
   font-size: 12px;
   color: #6C6C6C;
   margin-bottom:10px;
  text-align: justify;
}
.section-tittle{
    font-size: 30px;
}
 .newses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;
    margin-bottom: 100px;
} 

.news img{
    width: 266px;
    height: 150px;
    width: 100%;

}
.news-info a{
    text-decoration: none;
    color: black;
}

    .login-container{
      display: flex;
    justify-content: center;
        margin-bottom: 50px;
        margin-right: 200PX;
        margin-left:200px;
        padding:20px;
       
        border-radius: 20px;
    }
    .login-form{
        display: flex;
        flex-direction: column;
        width:95%;
        height:600px;
        background-color: rgba(231, 215, 215, 0.041);
        
    }
    .form-tittle{
        font-size: 30px;
    }
    .login-form input, button{
        font-size: 1.3em;
        margin-top: 10px;
        border: 1px solid lightgray;
        padding: 10px;
        border-radius: 10px;
    }
    .login-form button{
        background-color: lightgrey;
        font-weight: 700;
        color: black;
        border-radius: 0px;
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    
}
.login-form input, button{
    font-size: 1.3em;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}
.login-form button{
    background-color: lightgrey;
    font-weight: 700;
    color: black;
    border-radius: 0px;
}
.signin, .term{
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: lightgray;
    
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 483.87px;
    height: 213px;
    margin-left:450px;
    padding:0px;
}
.img-footer{
    width: 483.87px;
    height: 68px;
}
.copyright{
    color: #000000;
}
.social-icon .fab{
    margin: 0px 14px;
    background: #969BAB;
    color: #6C6C6C;
    padding:10px;
    border-radius: 10px;
}

@media  only screen and (max-width:688px) {
    .player-section{
        width:1000vw;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width:350vw;
        height: 200vh;
        margin-bottom: 4500px;
    }
    .newses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width:250vw;
        height: 200vh;
    }
    .login-form{
        width:500vw;
    }
    .footer{
        margin-left: 0px;
    }
    
}